<header>
  <div class="logo-group">
    <span class="logo-title">
    <img class="logo" src="./assets/img/order-icon.png" alt="order-icon">
      {{title}}
    </span>

<!--    <nav role="navigation">-->
<!--    <a href="../../../items">Items</a>-->
<!--      <a href="../../../items/add">Create</a>-->
<!--      <a href='#'>About us</a>-->
<!--      <a href='#'>Contact</a>-->
<!--    </nav>-->

    <nav role="navigation">
    <ul>
      <li>
        <a routerLink="/items">Items</a>
      </li>
      <li>
        <a routerLink="/items/add">Create</a>
      </li>
      <li>
        <a routerLink="/items">Order</a>
      </li>
      <li>
        <a routerLink="/items">About</a>
      </li>
    </ul>
    </nav>

  </div>
</header>
