.item-container{
  display: flex;
  flex-direction: column;
}


.item-input-container{
  background-color: lightsteelblue;
  border-bottom-color: black;
  border-top-color: black;
  border-bottom-width: thin;
  border-top-width: thin;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

.itemTitle{
  padding-left: 20px;
}

.search-item-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-item-link a{
  display: contents;
  color: darkblue;
  font-weight: bold;
  font-size: large;
  align-self: flex-end;
}

.search-label{
  padding-left: 20px;
  padding-right: 20px;
}

.search-label p{
  display: contents;
  color: black;
  font-weight: bold;
  font-size: large;
}

.create-item-link{
  padding-right: 40px;
}
